body {
    /*background-color: #ADFFF8;*/
    background-image: url("../img/clouds.jpg");
}

#weatherBody{
    display: flex;
}
h1 {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

/*text {*/
/*    justify-content: center;*/
/*}*/


